
@font-face {
    font-family: Cinzel_B;
    src: url(../font/Cinzel-ExtraBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    background: url(../img/mountain.jpeg) center / cover no-repeat;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    padding: 5rem;
}

h1 {
    font-family: Cinzel_B;
    font-size: 2rem;
    text-shadow: 2px 2px 5px white;
    padding-inline: 13%;
    width: 70vw;
    margin: 4rem auto;
}

article {
    padding: 2%;
    margin-inline: 100px;
    background-color: rgba(255, 255, 255, 0.272);
    border-radius: 5rem;
    max-height: fit-content;
}

p {
    width: fit-content;
    margin: 0 auto;
    height: fit-content;
    padding: 1rem;
    font-size: 14px;
    max-height: fit-content;
}


h2 {
    font-size: 1.5em;
}